COMPOSE_PROJECT_NAME=tf-mark1
MINISTACK_IMAGE=ministackorg/ministack:1.5.3
MINISTACK_PORT=4566
MINISTACK_LOG_LEVEL=INFO
MINISTACK_PERSIST_STATE=1
MINISTACK_S3_PERSIST=1
MINISTACK_RDS_PERSIST=0
MINISTACK_LAMBDA_EXECUTOR=docker
STACKPORT_IMAGE=davireis/stackport:0.3.8
STACKPORT_PORT=8080
STACKPORT_ALLOW_WRITES=false
AWS_REGION=ap-northeast-1
AWS_ACCOUNT_ID=000000000000
